/**/

body {
    background-image: url(https://tse2-mm.cn.bing.net/th/id/OIP-C.2rQ25qnSMQHXGcHz3Rp2pAHaEo?w=265&h=180&c=7&r=0&o=5&dpr=1.38&pid=1.7);
    background-repeat: no-repeat;
    background-size: cover;
}


/**/