body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 0 !important
}

.main {
    margin: 0 auto;
    width: 100%;
    max-width: 720px;
    min-width: 460px;
    position: relative;
    background-color: rgba(224, 64, 64, 0);
}


/* 背景样式 *******************************************************************************/
.bg_top{
    width: 100%;
    height: 64px;
    background-image: url(./resources/上部挂件.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.bg_middle{
    position: absolute;
    top:64px;
    left: 0px;
    width: calc(100% - 0px);
    height: calc(100% - 64px);
    background-size: cover;
    /*background-image: url(./resources/背景图.jpg);*/
    background-repeat: no-repeat;
    z-index: -999;
}

.bg_left{
    position: absolute;
    top: 64px;
    left: 0;
    width: 0px;
    height: calc(100% - 128px);
    background-size: cover;
    background-image: url(./resources/左部挂件.png);
    background-repeat: no-repeat;
}

.bg_right{
    position: absolute;
    top:64px;
    right: 0;
    width: 0px;
    height: calc(100% - 128px);
    background-size: cover;
    background-image: url(./resources/右部挂件.png);
    background-repeat: no-repeat;
}

.bg_bottom{
    width: 100%;
    height: 0px;
    background-image: url(./resources/bg_01_bot.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


/* 背景样式 *******************************************************************************/

/* 窗口主区域 ****************************************************************************/
.content_warp{
    box-shadow:0px 0px 5px #333333;
}
/* 标题栏 */
.content_title{
    height: 2em;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.7);
    margin: 0 auto;

}
.window_control{
    float: right;
    height: 100%;
}
.win_minimize, .win_close{
    float: right;
    height: 100%;
}

.win_minimize:hover{
    background-color: rgba(179, 178, 174, 0.747);
}
 .win_close:hover{
    background-color: red;
}
.win_minimize span, .win_close span{
    margin: 0.5em 0.8em;
    height: 1.2em;
    width: 1.2em;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.5;
    background-image: url(./resources/svg/minus.svg);
}

.win_close span{
    background-image: url(./resources/svg/x.svg);
}

.win_minimize span{
    background-image: url(./resources/svg/minus.svg);
}


/*搜索内容区域****************************************************************************************/
.search_warp {
    box-sizing: border-box;
    width: calc(100% - 0px);
    margin: 0 auto;
    padding-bottom: 20px;
}

/*搜索框样式*/
.search_box_warp{
    position: relative;
    box-sizing: border-box;
    width: 80%;
    height: 3em;
    margin: 20px auto;
    z-index: 999;
    border-radius: 5px;
    box-shadow:0px 0px 2px #33333394;
}

.search_box_warp:focus-within {
    box-shadow:0px 0px 5px #333333;
}

.search_box {
	background:none;  
	outline:none;
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 calc(2em * 2 + 1.5em) 0 1em;
    box-sizing: border-box;
    font-size: 110%;
    border-radius: 5px;
}

.search_boxt:focus{   
	border:none;
}

/* 搜索框中的图标样式 *************************************************/
.sea_ico_warp{
    position: absolute;
    top: 0.75em;
    right: 0;
}


.sea_ico{
    margin: 0 4px;
    height: 1.5em;
    width: 1.5em;
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.5;
}

.sea_ico:hover{
    opacity: 1;
}

.sea_ico_del{
    background-image: url(./resources/svg/x.svg);
    display: none;
}

.sea_ico_sea{
    background-image: url(./resources/svg/search.svg);
}

.sea_ico_more{
    background-image: url(./resources/svg/more-vertical.svg);
}

/* 工具条样式 */
.tool_box{
    width: 80%;
    margin: 0 auto 20px auto;
}






















/* 下拉框中各类型结果显示样式 *********************************************************************************************/
.sea_drop *{
    box-sizing: border-box;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.sea_drop>div{
    width: 95%;
    margin: 3px auto;
    /*box-shadow:0px 0px 5px #333333;
    border: 1px solid black;*/
}

.sea_drop>div:hover{
    background-color: rgb(170, 170, 168);
}

/* 下拉框项目通用样式/s1 */
.drop_item_s1{
    height: 3em;
    padding: 0.25em 0em;
}


.item_s1_icon{
    background-repeat: no-repeat;
    background-size: 100%;
    /*background-image: url(./resources/icon.png)*/
    float: left;
    display: block;
    height: 2.25em;
    width: 2.25em;
    margin: 0 0.5em;
}

.item_s1_info{
    float: left;
    width: calc(75% - 2em);
}

.item_s1_info>span:first-child{
    display: block;
    font-weight: bold;
    font-size: 110%;
}

.item_s1_info>span:last-child{
    display: block;
    font-weight: lighter;
    font-size: 90%;
}

.item_s1_action{
    float: right;
    width: calc(25% - 2em);
}

.item_s1_action>span:first-child{
    display: block;
    font-weight: bold;
    font-size: 90%;
    text-align: right;
    margin-right: 1em;
}

.item_s1_action>span:last-child{
    display: block;
    font-weight: lighter;
    font-size: 80%;
    text-align: right;
    margin-right: 1em;
}


/* 下拉框项目 s2/command */
.drop_item_s2{
    height: auto;
    padding: 0.25em 0em;
}

.item_s2_icon{
    background-repeat: no-repeat;
    background-size: 100%;
    /*background-image: url(./resources/icon.png)*/
    float: left;
    display: block;
    height: 1.5em;
    width: 1.5em;
    margin: 0 0.5em 0 0.75em;
}

.item_s2_info{
    float: left;
    width: calc(65% - 2em);
    line-height: 1.5em;
}

.item_s2_info strong::after{
    content: ' > ';
}

.item_s2_info span::after{
    content: attr(title);
    font-size: 90%;
}

.item_s2_action{
    float: right;
    width: calc(35% - 2em);
    line-height: 1.5em;
    text-align: right;
    margin-right: 1em;
    font-size: 90%;
}

.item_s2_action>strong{
    position: relative;
    cursor:pointer;
}
.item_s2_action>strong::before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -0.1em;
    right: 0.5em;
    border-top: 2px dashed black;
}
.item_s2_action>strong::after{
    content: ' ';
}

/* 下拉框项目 s3/network */
.drop_item_s3{
    height: none;
    padding: 0.25em 0em;
}


.drop_item_s3>span{
    height: 1em;
    width: 1em;
    background-repeat: no-repeat;
    background-size: cover;
}
.drop_item_s3>span:first-child{
    background-image: url(./resources/svg/search.svg);
    display: inline-block;
    margin-left: 1em;
}

.drop_item_s3>span:last-child{
    background-image: url(./resources/svg/arrow-up-right.svg);
    display: block;
    float: right;
    margin-right: 1em;
}


/* 下拉框项目 s4/ */

















